language: node_js
node_js:
- '8'
branches:
  only:
  - master
  # npm version tags
  - /^v\d+\.\d+\.\d+$/
cache:
  directories:
  - $HOME/.npm
jobs:
  include:
  - before_script:
    - npm run lint
  - if: branch = master AND type = pull_request
    script:
    - git checkout $TRAVIS_PULL_REQUEST_SHA
    - git checkout -B $TRAVIS_PULL_REQUEST_BRANCH
    - git remote set-url origin https://$GITHUB_TOKEN@github.com/$TRAVIS_PULL_REQUEST_SLUG.git
    - npx https://github.com/kellyselden/ember-cli-update-action.git#push_origin --pull-request-url https://api.github.com/repos/$TRAVIS_REPO_SLUG/pulls/$TRAVIS_PULL_REQUEST --autofix-command "npm run lint -- --fix"
